doctype
html(lang = 'es')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    title Mantenedor de usuarios
  body
    header
      include includes/navbar.pug
      
      div.container-fluid.mt-4
        div.jumbotron 
          h1.text-center Mantenedor de usuarios
          
    include includes/script.pug
