nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand Mantenedor de usuarios
  div.collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item.active 
        a.nav-link(href="/") Inicio
      li.nav-item
        a.nav-link(href="/agregar") Agregar
      li.nav-item
        a.nav-link(href="/eliminar") Eliminar
      li.nav-item
        a.nav-link(href="/mostrar") Mostrar
